/* ********************************************* */
/* ***************    INDEX     **************** */
/* ********************************************* */

.logo h1 {
	font-size: 40px;
	margin-top: 9px;
}

#login {
	margin-top:-31px;
}

.field {
	margin-top: -63px;
}

.info {
	overflow:hidden;
	margin-top: -43px;
}

.games {
	float:left;
}

.today h1, .tomorrow h1 {
	font-size: 30px;
}

